* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: linear-gradient(90deg, #cf8dfa, #16c2ce);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}